
/Server/obj
/.vs
/Server/bin
/Server/obj
/Server/.vs
/Server/PGAdminDAL/bin
/Server/PGAdminDAL/obj
/Server/RedisDAL/bin
/Server/RedisDAL/obj
/Server/Server/bin
/Server/Server/obj
/NoSQL/obj
/NoSQL/bin
/NoSQL/obj
/Client/.vscode
/NoSQL/obj
/NoSQL/obj
NoSQL/obj/Debug/net8.0/NoSQL.AssemblyInfo.cs
NoSQL/obj/Debug/net8.0/NoSQL.AssemblyInfoInputs.cache
/SignalR/obj
/Test/bin
/Test/obj
/NoSQL/obj
/Server/NoSQL/bin
/Server/NoSQL/obj
/Server/Test/obj
/Server/Test/bin
/GrpcClient/bin
/GrpcClient/obj
/Server/GrpcService/bin
/Server/GrpcService/obj
/Server/MediaServer/bin
/Server/MediaServer/obj
/Server/Csharp_Server/.vs
/Server/Csharp_Server/bin
/Server/Csharp_Server/GrpcClient/bin
/Server/Csharp_Server/GrpcClient/obj
/Server/Csharp_Server/GrpcService/bin
/Server/Csharp_Server/GrpcService/obj
/Server/Csharp_Server/MediaServer/bin
/Server/Csharp_Server/MediaServer/obj
/Server/Csharp_Server/NoSQL/bin
/Server/Csharp_Server/NoSQL/obj
/Server/Csharp_Server/obj
/Server/Csharp_Server/PGAdminDAL/bin
/Server/Csharp_Server/PGAdminDAL/obj
/Server/Csharp_Server/RedisDAL/bin
/Server/Csharp_Server/RedisDAL/obj
/Server/Csharp_Server/Server/bin
/Server/Csharp_Server/Server/obj
/Server/Csharp_Server/Test/bin
/Server/Csharp_Server/Test/obj
*.pfx
/Server/Csharp_Server/Messages/obj
/Server/Csharp_Server/Messages/.vs
/Server/Csharp_Server/Messages/bin
/Server/Csharp_Server/AdminServer/bin
/Server/Csharp_Server/AdminServer/obj
/Server/Csharp_Server/AuthServer/bin
/Server/Csharp_Server/AuthServer/obj
/Server/Csharp_Server/CommonLibrary/obj
/Server/Csharp_Server/ServerApplication/obj
/Server/Csharp_Server/UserServer/bin
/Server/Csharp_Server/UserServer/obj
/Server/Csharp_Server/KafkaLibrary/obj
