<div class="auth_main">
    <div class="auth-container">
        <div class="auth_text">
            <h2> Вхід в акаунт </h2>
            <p>Щоб спілкуватись з своїми друзями</p>
            <p>та поділитись незабутніми емоціями</p>
        </div>
        <span data-v-12a599d3="" class="auth_delimiter">  або  </span>
        <div class="auth_form">
            <form (ngSubmit)="onSubmit()">
                <div class="auth_form_email">
                    <label for="">Eлектронна пошта</label>
                    <input id="emailL" [(ngModel)]="emailL" type="email" name="emailF" maxlength="120" placeholder="Введите email" required>
                    <div class="error">{{ emailError }}</div> 
                </div>
    
                <div class="auth_form_password">
                    <div class="auth_form_password_text">
                        <label for="">Пароль</label>
                        <a for="">забув пароль</a>
                    </div>
                    <input id="passL" [(ngModel)]="passL" type="password" name="auth_password" autocomplete="" placeholder="Введите пароль" required>
                    <div class="ConfirmationPassword">
                        <div *ngIf="ConfirmationPassword; else passwordField">
                            <a (click)="SendEmailConfirmation()">Відправити повторно лист</a>
                            <div *ngIf="passwordError" class="error">{{ passwordError }}</div> 
                        </div>
                        <ng-template #passwordField>
                            <div *ngIf="passwordError" class="error">{{ passwordError }}</div> 
                        </ng-template>
                    </div>
                </div>
                <button>Увійти</button>
            </form>
        </div>
        <div class="auth_forgot">
            <span>Немає акаунту?</span>
            <a (click)="RegisterForm()">Регестрація</a>
        </div>
    </div>
</div>

