<main>
    <div class="mainPost">
        <div class="HeaderPosts">
            <div class="HeaderPosts-ForU">
                <a href="">
                    <samp>For you</samp>
                </a>
            </div>
            <div class="HeaderPosts-Following">
                <a href="">
                    <samp>Following</samp>
                </a>
            </div>
        </div>
        <div class="SendPostBox">
            <div class="SendPost">
                <img src="{{UserData.avatar}}" alt="">
                <form class="SendPostAddendum" (ngSubmit)="sendPost()">
                  <textarea [(ngModel)]="postContent" name="postContent" class="SendPost-textarea" placeholder="What's new with you?" (input)="autoResize($event)" (keydown)="handleKeydown($event)"></textarea>
                    <div>
                        <div class="SendPostAddendum-SVG">
                          <svg viewBox="0 0 24 24" aria-hidden="true"><g><path d="M3 5.5C3 4.119 4.119 3 5.5 3h13C19.881 3 21 4.119 21 5.5v13c0 1.381-1.119 2.5-2.5 2.5h-13C4.119 21 3 19.881 3 18.5v-13zM5.5 5c-.276 0-.5.224-.5.5v9.086l3-3 3 3 5-5 3 3V5.5c0-.276-.224-.5-.5-.5h-13zM19 15.414l-3-3-5 5-3-3-3 3V18.5c0 .276.224.5.5.5h13c.276 0 .5-.224.5-.5v-3.086zM9.75 7C8.784 7 8 7.784 8 8.75s.784 1.75 1.75 1.75 1.75-.784 1.75-1.75S10.716 7 9.75 7z"></path></g>
                          </svg>
                          <svg viewBox="0 0 24 24" aria-hidden="true" ><g><path d="M3 5.5C3 4.119 4.12 3 5.5 3h13C19.88 3 21 4.119 21 5.5v13c0 1.381-1.12 2.5-2.5 2.5h-13C4.12 21 3 19.881 3 18.5v-13zM5.5 5c-.28 0-.5.224-.5.5v13c0 .276.22.5.5.5h13c.28 0 .5-.224.5-.5v-13c0-.276-.22-.5-.5-.5h-13zM18 10.711V9.25h-3.74v5.5h1.44v-1.719h1.7V11.57h-1.7v-.859H18zM11.79 9.25h1.44v5.5h-1.44v-5.5zm-3.07 1.375c.34 0 .77.172 1.02.43l1.03-.86c-.51-.601-1.28-.945-2.05-.945C7.19 9.25 6 10.453 6 12s1.19 2.75 2.72 2.75c.85 0 1.54-.344 2.05-.945v-2.149H8.38v1.032H9.4v.515c-.17.086-.42.172-.68.172-.76 0-1.36-.602-1.36-1.375 0-.688.6-1.375 1.36-1.375z"></path></g>
                            <use href="#icon-id"></use>
                          </svg>
                      </div>
                      <button type="submit">Post</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="Post-Box">
            <div *ngFor="let post of posts" class="Post-For">
                <a  class="Post-item">
                  <div class="Post-item-user">
                    <img  class="postUserAvatar" [src]="post.user?.avatar" alt="">
                    <div class="Post-item-user-Text">
                      <a  class="Post-FUser">
                        <span>{{post.user?.firstName}}</span>
                        <span class="Post-FUser-nick">{{"@"}}{{ post.user?.userName }}</span>
                      </a>
                      <div class="Post-Context">
                        <samp>{{post.content}}</samp>
                        <img *ngIf="post.mediaUrls" [src]="post.mediaUrls" alt="">
                      </div>
                    </div>
                  </div>
                  <div style="text-overflow: unset;"></div>
                  <div class="Retpost">
                  </div>
                  <div class="Post-Mad">
                    <div class="SVG-Comments">
                      <a (click)="OpenComments(post)">
                        <svg  viewBox="0 0 24 24" aria-hidden="true" fill="currentColor" class="SVG"><g><path d="M1.751 10c0-4.42 3.584-8 8.005-8h4.366c4.49 0 8.129 3.64 8.129 8.13 0 2.96-1.607 5.68-4.196 7.11l-8.054 4.46v-3.69h-.067c-4.49.1-8.183-3.51-8.183-8.01zm8.005-6c-3.317 0-6.005 2.69-6.005 6 0 3.37 2.77 6.08 6.138 6.01l.351-.01h1.761v2.3l5.087-2.81c1.951-1.08 3.163-3.13 3.163-5.36 0-3.39-2.744-6.13-6.129-6.13H9.756z"></path></g></svg>
                        {{post.commentAmount}}
                      </a>
                    </div>
                    <div class="SVG-Retpost">
                      <a >
                        <svg viewBox="0 0 24 24" aria-hidden="true" fill="currentColor" class="SVG"><g><path d="M4.5 3.88l4.432 4.14-1.364 1.46L5.5 7.55V16c0 1.1.896 2 2 2H13v2H7.5c-2.209 0-4-1.79-4-4V7.55L1.432 9.48.068 8.02 4.5 3.88zM16.5 6H11V4h5.5c2.209 0 4 1.79 4 4v8.45l2.068-1.93 1.364 1.46-4.432 4.14-4.432-4.14 1.364-1.46 2.068 1.93V8c0-1.1-.896-2-2-2z"></path></g></svg>
                        {{post.retpostAmount}}
                      </a>
                    </div>
                    <div class="SVG-Like" *ngIf="!post.youLike else DLike">
                      <a (click)="LikePost(post)">
                        <svg  viewBox="0 0 24 24" aria-hidden="true" fill="currentColor" class="SVG"><path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z"/></svg>
                        {{post.likeAmount}}
                      </a>
                    </div>
                    <ng-template  #DLike>
                      <div class="SVG-Fill-Like">
                        <a (click)="DeleteLikePost(post)">
                          <svg  viewBox="0 0 24 24" aria-hidden="true" fill="#F91880"><path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z"/></svg>
                          {{post.likeAmount}}
                        </a>
                      </div>
                    </ng-template>
                    <div class="SVG-View" >
                      <a >
                        <svg viewBox="0 0 24 24" aria-hidden="true" fill="currentColor" class="SVG"><g><path d="M8.75 21V3h2v18h-2zM18 21V8.5h2V21h-2zM4 21l.004-10h2L6 21H4zm9.248 0v-7h2v7h-2z"></path></g></svg>
                        {{post.views}}
                      </a>
                    </div>
                  </div>
                </a>
              </div>
          </div>
    </div>
</main>
